fastapi
uvicorn

streamlit

langchain
langgraph
langchain-openai

openai

pandas
numpy

plotly

sqlalchemy
psycopg2-binary

python-dotenv

pydantic

scikit-learn
xgboost
shap

alembic

pytest

httpx

python-multipart
faker